<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
                      "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="/css/llvm.css">
  {{ $title := site.Title }}
  <title>
    {{ $title }}
  </title>
</head>

<body>

<div class="rel_title">
  {{ $title }}
</div>

<div class="rel_container">

  <main>
    {{ block "main" . }}{{ end }}
  </main>

  <footer>
    CDN by <a href="http://www.fastly.com">Fastly</a>
  </footer>

</div> <!-- rel_container -->

</body>
</html>
