{{ define "main" }}

  {{ range where (.Pages.ByParam "prio") "Params.layout" "==" "section" }}

    {{ .Render }}

  {{ end }}

  <div class="rel_section">Download</div>

    <div class="rel_boxtext">

      <p>LLVM provides extensive documentation in HTML form, which is available in the
        source download and online.</p>

        <table id="download" cellpadding=3px cellspacing=4px>
        <tr style="font-weight:bold" align=center>
          <td>Date</td>
          <td>Version</td>
          <td>Download</td>
          <td>Release Notes</td>
          <td>Documentation</td>
        </tr>

        {{ range where (where (where .Site.Pages "Section" "releases") "Params.layout" "==" "release") "Title" "==" "Git" }}

          {{ partial "release-link.html" .}}

        {{ end }}

        {{ range where (where (where .Site.Pages "Section" "releases") "Params.layout" "==" "release") "Title" "!=" "Git" }}

          {{ partial "release-link.html" .}}

        {{ end }}

        </table>

    </div>

{{ end }}
