
{{ $Link := "https://llvm.org/docs/" }}
{{ $Name := .Project }}

{{ if eq .Project "llvm" }}
  {{ $Link = printf "/%s/docs/" .Version }}
{{ end }}

{{ if or (eq .Project "clang") (eq .Project "lld") (eq .Project "flang") (eq .Project "polly") }}
  {{ $Link = printf "/%s/tools/%s/docs/" .Version .Project }}
{{ end }}

{{ if eq .Project "libcxx" }}
  {{ $Link = printf "/%s/projects/%s/docs/" .Version .Project }}
  {{ $Name = "libc++" }}
{{ end }}

{{ if eq .Project "clang-extra" }}
  {{ $Link = printf "/%s/tools/clang/tools/extra/docs/" .Version }}
{{ end }}


<a href="{{ $Link }}{{ .Page }}">{{ $Name }}</a>