{{ $Version := .Title }}

<tr align=center>
  <td>{{ if eq .Title "Git" }}Current{{ else }}{{ .Date.Format "2 Jan 2006" }}{{end}}</td>
  <td>{{ .Title }}</td>
  {{ if eq .Title "Git" }}
    <td align="center"><a href="download.html#git">via Git</a></td>
  {{ else if .Params.github }}
    <td align="center"><a href="https://github.com/llvm/llvm-project/releases/llvmorg-{{.Title}}">GitHub</a></td>
  {{ else }}
    <td align="center"><a href="/download/#{{ .Title }}">download</a></td>
  {{ end }}

  {{ if .Params.projects }}
    <td align="center">
      {{ range .Params.projects }}
        {{ partial "release-doc.html" (dict "Project" . "Version" $Version "Page" "ReleaseNotes.html") }}
      {{ end }}
    </td>

    <td align="center">
      {{ range .Params.projects }}
        {{ partial "release-doc.html" (dict "Project" . "Version" $Version "Page" "index.html") }}
      {{ end }}
    </td>
  {{ else }}
    {{ if .Params.discourse }}
      <td align="center"><a href="{{ .Params.discourse }}">release notes</a></td>
    {{ else }}
      <td align="center">
        {{ partial "release-doc.html" (dict "Project" "release notes" "Page" "ReleaseNotes.html" "Version" $Version)}}
      </td>
    {{ end }}

    {{ if .Params.discourse }}
      <td></td>
    {{ else }}
      <td align="center">
        {{ partial "release-doc.html" (dict "Project" "docs" "Page" "" "Version" $Version)}}
      </td>
    {{ end }}

  {{ end }}
</tr>
